body {
    margin: 0;
    padding: 0;
    background-color: #202020;
}

.greeting {
    height: 100vh;
    z-index: 2;
}

.greet-text {
    color: #fff;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -30%);
}

